.img-icon-feature{
	img{
		width: 70px;
	}
	.feature-box{
		margin-bottom: 40px !important;
		h4{
			font-size: 20px;
			margin-bottom: 10px!important;
			text-decoration: underline;
		}
		p{
			font-size: 16px !important;
			line-height: 28px;
		}
	}
}

.team-member-box {
	margin-bottom: 30px !important;
}
.team-position{
	font-weight: 700 !important;
	color: @brand-primary;
}
@media(max-width: 767px){
	.mission-vision-row{
		.vc_col-sm-6{
			border: 0 !important;
		}
	}
}

@media(min-width: 769px){
	.team-member-content{
		min-height: 125px;
	}
}
.social-icons {
	min-height: 36px;
}

@media(min-width: 768px) and (max-width: 768px){
	.shortcode-team-member-box{
		.tmb-2 .team-member-description{
			padding: 20px 10px;
		}
		.team-name{
			h4{
				font-size: 16px;
				// min-height: 48px;
			}
		}
	}

	.team-row{
		.vc_col-sm-10{
			width: 100%;
		}
	}

	.team-position {
	    min-height: 45px;
	}

	.team-member-content {
	    min-height: 170px;
	}
}