.page-template-page-blog, .single-post{
	.hb-logo-wrap{
		filter: brightness(0) invert(1);
	}

	#hb-page-title.hb-color-background{
		top: -80px;
		padding-top: 150px;
	}

}

.single-post{
	.breadcrumbs-wrapper{
		display: none;
	}
	.post-header{
		h1{
			display: none;
		}
	}
	.entry-content{
		font-size: 16px ;
		line-height: 28px;
	}
}