.page-template-page-blog, .single-post{
	.hb-logo-wrap{
		filter: brightness(0) invert(1);
	}

	#hb-page-title.hb-color-background{
		top: -80px;
		padding-top: 180px;
	}
	.meta-info{
		a{
			// text-decoration: underline;
			color: #5a5a5a;
			border-bottom: 1px dotted #5a5a5a;
			&:hover{
				color: @brand-primary;
			}
		}
	}
}

.single-post{
	.breadcrumbs-wrapper{
		display: none;
	}
	.post-header{
		h1{
			display: none;
		}
	}
	.entry-content{
		font-size: 16px ;
		line-height: 28px;
	}

	.author-box{
		display: none;
		&+.hb-separator-extra{
			display: none;
		}
	}
}

.widget_categories{
	a{
		color: #5a5a5a;
		border-bottom: 1px dotted #5a5a5a;
		&:hover{
			color: @brand-primary;
		}
	}
}

#searchsubmit{
	background-color: @brand-primary;
	padding: 12px 16px 12px!important;
}


.axisrooms.category, .axisrooms.archive{
	#main-nav > li > a{
		color: #444;
	}
	.sticky-nav.stuck{
		#main-nav > li > a{
			color: #fff;
		}
	}
	#main-content{
		top: 0;
		margin-bottom: 0;
	}
}

.axisrooms.category, .axisrooms.archive, .page-template-page-blog, .single-post{
	.vc_row {
	    margin-left: -15px;
	    margin-right: -15px;
	}

	.vc_clearfix:after, .vc_column-inner::after, .vc_el-clearfix, .vc_row:after {
	    clear: both;
	}
	.vc_row:after, .vc_row:before {
	    content: " ";
	    display: table;
	}

	.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9{
		padding-left: 15px;
    	padding-right: 15px;
    	box-sizing: border-box;
	}


	@media (min-width: 768px){
		.vc_col-sm-4 {
		    width: 33.33333333%;
		}
		.vc_col-sm-8 {
		    width: 66.66666667%;
		}
		.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9{
			float: left;
		}
	}
}