.border-grid{
	.vc_grid-item{
		border: 1px solid #eee;
		padding: 20px 20px !important;
		.vc_gitem-zone{
			background-size: 200px;
		}
	}
}


.axisrooms{
	.dataTables_length{
		margin-bottom: 10px;
	}

	.tablepress{
		td, th{
			padding: 15px;
		}
		td{
			padding: 10px;
		}

		thead th{
			background-color: @brand-secondary;
			&:hover{
				background-color: darken(@brand-secondary, 5%);
			}
		}
		table tfoot tr td,
		table thead tr th{
			color: #fff;
		}
		a{
			font-weight: normal;
		}
	}
}