.page-template-page-paynow{
	.hb-logo-wrap{
		img{
			-ms-filter: brightness(0%) invert(100%);
			filter: brightness(0%) invert(100%);
		}
	}

	#hb-page-title.hb-color-background{
		top: -80px;
		padding-top: 180px;
	}

	table td, table th{
		border-left: 0;
	}
	table td {
	    padding: 15px 15px;
	}

	input[type=number]{
		border-radius: 0;
	    padding: 12px 12px 10px!important;
	    width: 100%;
	    border: 1px solid #e3e3e3;
	    color: #777;
	    // background-color: rgba(0,0,0,.05);
	    transition: all .2s linear;
	    -moz-transition: all .2s linear;
	    -webkit-transition: all .2s linear;
	    -o-transition: all .2s linear;
	    outline: 0;
	    position: relative;
	    z-index: 9;
	}
	input{
		background-color: transparent;
	}

	button[type=submit]{
		border: none;
	}
}