.single-single-product, .single-products{
	#main-wrapper{
		background-color: #fff;
	}
	.product-header{
		background: -webkit-linear-gradient(left, #56c3aa, #88d4f5);
		padding: 100px 0 0;
		&_text{
			display: flex;
			margin-top: 100px;
			i{
				border: 2px solid #fff;
				border-radius: 50%;
				text-align: center;
				padding: 0;
			    font-size: 45px;
			    line-height: 90px;
			    min-width: 100px;
			    height: 100px;
			    box-sizing: border-box;
			    color: #fff;
			    margin-right: 20px;
			}
			p{
				font-size: 20px;
			}
		}
		.post-header{
		}
		h1.entry-title{
			color: #fff;
			font-weight: 700;
		}
		p{
			color: #fff;
			margin-bottom: 0;
		}
	}

	.product-form{
		background-color: #fff;
		padding: 40px 30px;
	    text-align: center;
	    margin-bottom: -120px;
	    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.2);
	    position: relative;
	    top: -50px;
		h5{
			font-size: 20px;
			font-weight: 700;
			color: @brand-secondary;
			margin-bottom: 0;
		}
		p{
			color: @brand-secondary;
		}

		#cf7md-form{
			margin-top: 20px;
			.cf7md-item input{
				padding: 0 !important;
			}
			.mdc-button--primary.mdc-button--raised{
				background-color: @brand-primary;
				margin-top: 10px;
			}
		}


		.cf7md-admin-customize-message{
			display: none;
		}
	}

	p{
		font-size: 15px;
		line-height: 24px;
	}

	.product-quad-grid{
		img{
			width: 64px;
		}
		.feature-box h4{
			font-size: 20px;
			margin-bottom: 20px!important;
		}
	}
}